*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#0095ff;
}
.container{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    margin: auto;
}
/* start siting box  */
.siting-box{
    position: fixed;
    left: -200px;
    top: 100px;
    background-color: #feffffe5;
    width: 200px;
    padding: 25px 0;
    z-index: 100;
    transition: .3s;
    border-radius: 3px;
}
.siting-box.open{
    left: 0;
}
.siting-box .btn-siting{
    position: absolute;
    right:-40px;
    top: 50px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    
}
.siting-box .btn-siting .set{
    padding: 8px;
    width: 25px;
}

.siting-box .seting-container{
    border-radius: 10px;
}
.siting-box .seting-container .opation-box{
   margin-top: 10px;
   margin-left: 10px;
   border-radius: 10px;
    width: 90%;
    height: 120px;
    background-color: #c1c1c1;
}

.siting-box .seting-container .opation-box h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px;
    margin-left: 10px;
}
.siting-box .seting-container .opation-box .list-color{
    text-align: center;
    list-style: none;
    padding: 0;
}
.siting-box .seting-container .opation-box .list-color li{
   background-color: black;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   display: inline-block;
   margin-top: 20px;
   margin-left: 5px;
   cursor: pointer;
   border: 3px solid sienna;
   opacity: .5;
}
.siting-box .seting-container .opation-box .list-color li.active{
    opacity: 1;
}
.siting-box .seting-container .opation-box .list-color li:first-child{
    background-color: #0095ff;
}
.siting-box .seting-container .opation-box .list-color li:nth-child(2){
    background-color: #ff0055;
}
.siting-box .seting-container .opation-box .list-color li:nth-child(3){
    background-color: #5bc89d;
}
.siting-box .seting-container .opation-box .list-color li:nth-child(4){
    background-color: #d84a08;
}
.siting-box .seting-container .opation-box .list-color li:nth-child(5){
    background-color: #fa8072;
}
.siting-box .btn-box{
    background-color: #dc1600;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 75%;
    margin-left: 15px;
    border-radius: 10px;
}
.siting-box .btn-box h2{
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    text-transform: capitalize;
}
/* ENd siting box  */
/* start landing page  */
.landing-page{
    background-image: url(imge/myphoto.png);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.landing-page .over-lay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: .5;
}
.landing-page .nav-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.landing-page .nav-bar .logo{
    color: var(--main-color);
    font-size: 35px;
   font-weight: bold;
   font-family: system-ui;
}
.landing-page .nav-bar .links{
    display: flex;
    color: #ffffff;
    position: absolute;
    right: 30px;
   top: 35px;
   
}
.landing-page .nav-bar .links.center{
    right: 30%;
    left: 30%;
    background-color: #eeff00;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    z-index: 3;
}
.landing-page .nav-bar .links.center li{
    color: #63008e;
}
.landing-page .nav-bar .links li{
    list-style: none;
    cursor: pointer;
    font-size: 22px;
    transition: all .5s;
    font-family: sans-serif;
    opacity: 1;
    color: #ffee00;
    margin-left: 25px;
    font-weight: 600;
}
.landing-page .nav-bar .links li.active{
    padding: 3px;
    text-transform: capitalize;
    font-size: 24px;
}
.landing-page .nav-bar .links li:hover{
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 6px;
    opacity: 1;
    color: black;
}
.landing-page .tixt{
    color: #ffffff;
}
.landing-page .tixt span{
    color: var(--main-color);
    font-size: 32px;
}
.landing-page .tixt h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}
.landing-page .tixt p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font-family: sans-serif;
}
.landing-page .Box-links{
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    text-align: right;
    display: none;
    position: fixed;
    z-index: 3;
    right: 16px;
    top: 18px;
}

.landing-page .Box-links span{
    display: block;
    height:4px;
    margin-bottom: 4px;
    background-color: var(--main-color);
}
@media(max-width:576px){
  
    .container{
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 20px;
    }
    .landing-page .Box-links{
        display: block;
       margin-top: 22px;
       margin-right: 15px;
    }
    .landing-page .links{
        margin-left: 40px;
    }
    .landing-page .nav-bar .links.center{
       left: 120px;
    }
    .landing-page .container .nav-bar .links.on {
        background-color: var(--main-color);
        padding: 15px;
          display: block;
        position: fixed;
        z-index: 3;
        width: 45%;
        margin-top: 33px;
        border-radius: 10px;
        margin-right: 10px;
    }
    .landing-page .nav-bar .links{
        display: none;
    }
    .landing-page .Box-links.Box-active::before{
        content: '';
        border-style: solid;
        border-width:8px ;
        border-color:  white transparent transparent transparent;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    .landing-page .container .nav-bar .links.on li{
        color: white;
        text-align: center;
        margin-bottom: 5px;
    }
    .landing-page .tixt h2{
        font-size: 27px;
        line-height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%,-50%);
    }
    .landing-page .tixt p{
        font-size: 20px;
        position: absolute;
        top:65%;
        width: 85%;
    }
    .landing-page{
        background-image: url(imge/phone2.png);
    }
   
}
@media (min-width:580px) and (max-width:1070px){
    .landing-page .Box-links{
        display: block;
        top:30px;
        right: 50px;
    }
    .landing-page .container .nav-bar .links.on {
        background-color: var(--main-color);
        padding: 15px;
          display: block;
        position: fixed;
        width: 40%;
        margin-top: 33px;
        border-radius: 10px;
        text-align: center;
    }
    .landing-page .container .nav-bar .links.on li{
        color: white;
        margin-bottom: 10px;
        text-align: center;
    }
    .landing-page .nav-bar .links.center{
        left: 54%;
     }
     .landing-page .nav-bar .links{
        display: none;
    }
    .landing-page .Box-links.Box-active::before{
        content: '';
        border-style: solid;
        border-width:8px ;
        border-color:  white transparent transparent transparent;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    .landing-page .tixt h2{
        font-size: 30px;
        position: absolute;
        top: 45%;
        left: 50%;
    }
    .landing-page .tixt p{
        position: absolute;
        top: 52%;
        left: 50%;
        width: 90%;
    }
    .landing-page{
        background-image: url(imge/lap.png);
    }
}

/* End landing page  */
/* start about Us  */
.about-Us{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.about-Us .container  h2{
    color: var(--main-color);
    font-size: 40px;
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
    text-transform: uppercase;
}
.about-Us .about-content .about-text{
    line-height: 40px;
    float: left;
     margin-top: 120px;
    margin-left: 25px;
    text-align: left;
    font-size: 30px;
    color: #be1399;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}
.about-content .about-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
   float: right;
    margin-right: 100px;
    margin-top: -50px;
}
.about-content hr{
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background-color: var(--main-color);
    border: none;
}
@media (max-width:576px){
    .about-Us .about-content .about-text{
        margin-top: 100px;
        width: 90%;
        font-size: 25px;
    }
    .about-content .about-img img{
        width: 300px;
        height: 300px;
        margin-top: -40px;
        margin-right: 50px;
    }
}
@media (min-width:580px) and (max-width:1070px){
    .about-Us .about-content .about-text{
        width: 90%;
        font-size: 30px;
    }
    .about-content .about-img img{
        width: 350px;
        height: 350px;
        margin-right: 33%;

    }

}

/* End about Us  */
/* start skills  */
.skills{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #d2d0d0;
    width: 100%;
   
}
.skills .container h2{
    color: var(--main-color);
    font-size: 40px;
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
    text-transform: uppercase;
}
.skills .skills-box{
    background-color: white;
    padding: 15px;
    margin-top: 20px;
   margin-bottom: 15px;
    display: flex;
    border-radius: 5px;
}
.skills .skills-box h4{
    font-size: 23px;
    font-family: system-ui;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    color: #8e2aff;
    text-shadow: 1px 1px 2px #ff0000;
}
.skills .skills-box .box-span{
    width: 100%;
    height: 30px;
    position: relative;
    overflow: hidden;
    background-color: #eee;
    margin-left: 10px;
    text-align: center;
    border-radius: 3px;
}
.skills .skills-box .box-span span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    transition: all .5s;
}
/* End skills  */
/* start portfolio  */
.prtofolio{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}
.prtofolio .container h2{
    font-size: 35px;
    text-align: center;
    font-family: system-ui;
    color: var(--main-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.prtofolio .box {
    margin-bottom: 10px;
    display: flex;
    margin-right: 10px;
    margin-top: 80px;
}
.prtofolio .box-portfolio{
    background-color: #e3e3e3;
    margin-right: 120px;
    padding: 20px;
    margin-left: 120px;
    border-radius: 12px;
    line-height: 30px;
}
.prtofolio .box-portfolio h4{
    color: #6f00ff;
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
   margin-bottom: 15px;
   width: 98%;
}
.prtofolio .box-portfolio a{
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui;
    color: var(--main-color);
    transition: all .6s;
    margin-left: 20px;
    font-weight: 500;
    text-shadow: 10px 7px 10px #ffe602;
}
.prtofolio .box-portfolio a:hover{
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
    text-shadow: none;
}
@media (max-width:576px){
    .prtofolio .box{
        display: block;
        margin-top: 30px;
    }
    .prtofolio .box-portfolio{
        width: 90%;
        margin-right: 30px;
        margin-left: 0px;
        margin-bottom: 15px;
    }
}
@media (min-width:580px) and (max-width:1070px){
    .prtofolio .box-portfolio{
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 30px;
    }
}
/* End portfolio  */
/* start contact  */
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image: url(imge/map.png);
   background-size: cover;
   position: relative;
}
.contact .ovar-lay{
    height: 100%;
    width: 100%;
    background-color: #ffffffb9;
    position: absolute;
    top: 0;
    left: 0;
}
.contact .container{
    position: relative;
    z-index: 1;
}
.contact .container h2{
    font-size: 35px;
    text-align: center;
    font-family: system-ui;
    color: var(--main-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin:auto;
    margin-top: 20px;
}
.contact .left{
    float: left;
   width: 48%;
}
.contact .reight{
    float: right;
    width: 48%;
}
.contact .container form input:not([type='submit']),
.contact .container form textarea{
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px double #d8d8d8;
    color: var(--main-color);
    font-size: 18px;
    font-family: system-ui;
}
.contact .container form input:not([type='submit']):focus,
.contact .container form textarea{
    outline: 1px solid var(--main-color);
}
.contact .container form input{
    height: 50px;
}
.contact .container form textarea{
    height: 150px;
}
.contact .container form button{
    width: 100%;
    cursor: pointer;
    height: 40px;
    color: white;
    background-color: var(--main-color);
    border: none;
    font-size: 20px;
}
@media (max-width:576px){
    .contact .left{
        width: 90%;
        float: none;
    }
    .contact .reight{
        float: none;
        width: 90%;
    }
    .contact .container form button{
        width: 90%;
    }
}
/* End contact  */
/* start foater  */
.fouter{
    background-color: var(--main-color);
    width: 100%;
    height: 70px;
    
}
.fouter .container h2{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 10px black;
    font-family: system-ui;
}
@media (max-width:576px){
    .fouter{
        height: 70px;
    }
    .fouter .container h2{
        font-size: 20px;
    }
}
/* End foater  */